<app-navbar></app-navbar>
<div class="row my-4 mx-3 d-flex justify-content-around flex-wrap">
    <div class="col-6">
        <h5 class="text-center">Personaje: {{personaje.name}}</h5>
        <h6 class="text-center">Rareza</h6>
        <p class="text-center">{{personaje.rarity}} Estrellas</p>
        <h6 class="text-center">Vision</h6>
        <p class="text-center">{{personaje.vision}}</p>
        <h6 class="text-center">Afiliación</h6>
        <p class="text-center">{{personaje.affiliation}}</p>
        <h6 class="text-center">Nación</h6>
        <p class="text-center">{{personaje.nation}}</p>
        <h6 class="text-center">Description</h6>
        <p class="text-center">{{personaje.description}}</p>
    </div>
    <div class="col-6 text-center " style="width: 14rem;">
        <img class="rounded" style="width: 14rem;" src="{{urlFoto}}" alt="">
    </div>
</div>


