<div class="card text-white bg-dark mx-3 my-2"    style="width: 15rem; height: 600px;">
    <img src="{{urlFoto}}" class="card-img-top" alt="...">
    <div class="card-body overflow-auto">
      <h5 class="card-title">{{enemigo.name}}</h5>
      <h6>Habitat: {{enemigo.region}}</h6>
      <h6>Tipo de enemigo: {{enemigo.type}}</h6>
      <h6 >Facción: {{enemigo.faction}}</h6>
      <h6>Descripción</h6>
      <p>{{enemigo.description}}</p>
      <!-- <p class="card-text">{{personaje.vision}}</p> -->
      <!-- <a [routerLink]="['/','enemigos-detalle',nombreEnemigo]" class="btn btn-primary">Ver mas</a> -->
    </div>
  </div>
