<div class="card text-white bg-dark mx-3 my-2"    style="width: 15rem; height: 600px;">
    <img src="{{urlFoto}}" class="card-img-top" alt="...">
    <div class="card-body overflow-auto">
      <h5 class="card-title">{{nacion.name}}</h5>
      <h6>Element: {{nacion.element}}</h6>
      <h6>Arconte: {{nacion.archon}}</h6>
      <h6 >Entidad al mando: {{nacion.controllingEntity}}</h6>
      <!-- <p class="card-text">{{personaje.vision}}</p> -->
      <!-- <a [routerLink]="['/','detalle-artefactos',artefactoNombre]" class="btn btn-primary">Ver mas</a> -->
    </div>
  </div>
