<div class="card text-white bg-dark mx-3 my-2"    style="width: 15rem; height: 600px;">
    <img src="{{urlFoto}}" class="card-img-top" alt="...">
    <div class="card-body overflow-auto">
      <h5 class="card-title">{{artefacto.name}}</h5>
      <h6>Rarity: {{rareza}}</h6>
      <h6>Bonusx2: {{bono2}}</h6>
      <h6 >Bonus x4: {{bono4}}</h6>
      <!-- <p class="card-text">{{personaje.vision}}</p> -->
      <!-- <a [routerLink]="['/','detalle-artefactos',artefactoNombre]" class="btn btn-primary">Ver mas</a> -->
    </div>
  </div>
