<app-navbar></app-navbar>
<div  class="d-flex flex-row justify-content-evenly flex-wrap" style="background-color: rgb(120, 114, 107); width: 100%;">
    <div class="d-flex flex-column align-items-center mx-3" >
        <h1 class="my-5">Gracias por utilizar la app</h1>
        <img class="img-fluid mb-5"  src="https://pbs.twimg.com/media/FZHwkKIWQAci2ra?format=jpg&name=large" alt="">
    </div> 
    <div class="my-5" style="min-width: 370px" >
        <h5 class=" mx-5">La recopilación de los datos fueron sacados de la api<a  href="https://genshin.dev/">https://genshin.dev/</a> </h5>
        <h5 class=" mx-5">Proyecto en github: <a  href="https://github.com/EJairCV/Wiki-Genshin.git">https://github.com/EJairCV/Wiki-Genshin.git</a> </h5>
    </div> 
</div>


